<!-- Service Card -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 border m-4" *ngFor="let card of serviceCardInfos">
            <img class="img-fluid mb-4 " src="../../../../assets/img/product-2.png " alt=" ">
            <h6 class="text-uppercase text-center ">{{card.name}}</h6>
            <h5 class="text-primary mb-0 mx-2 ">Type: {{card.type}}</h5>
            <h5 class="text-primary mb-0 mx-2">Opens at: {{card.opensAt}}</h5>
            <h5 class="text-primary mb-0 mx-2 ">Closes at: {{card.closesAt}}</h5>
            <div class="btn-action d-flex justify-content-end ">
                <a (click)="showDetails()">

                    <button class="btn btn-primary py-2 px-3">Details</button>
                </a>

            </div>
        </div>
    </div>
</div>