<div class="container">
  <div class="row">
    <div class="ms-5 col-lg-10">
      <form [formGroup]="registForm" (ngSubmit)="getAndPostData()">
        <div class="row g-3">
          <div class="col-12">
            <input
              type="text"
              formControlName="business_name"
              class="form-control bg-light border-0 px-4"
              name="business_name"
              placeholder="Your business name"
            />
            <div
              [hidden]="businessname?.valid || businessname?.untouched"
              style="color: red"
            >
              <small *ngIf="businessname?.errors?.['required']"
                >Name is required</small
              >
            </div>
          </div>
          <div class="col-12">
            <input
              type="text"
              formControlName="service_description"
              class="form-control bg-light border-0 px-4"
              name="service_description"
              placeholder="Your description"
            />
            <div
              [hidden]="description?.valid || description?.untouched"
              style="color: red"
            >
              <small *ngIf="description?.errors?.['required']"
                >Description is required</small
              >
            </div>
          </div>
          <div class="col-12">
            <input
              type="text"
              formControlName="phone_number"
              class="form-control bg-light border-0 px-4"
              name="phone_number"
              placeholder="Your phoneNum"
            />
            <div
              [hidden]="phoneNum?.valid || phoneNum?.untouched"
              style="color: red"
            >
              <small *ngIf="phoneNum?.errors?.['required']"
                >Phone number is required</small
              >
            </div>
          </div>
          <div class="col-12">
            <input
              type="text"
              formControlName="address"
              class="form-control bg-light border-0 px-4"
              name="address"
              placeholder="address"
            />
            <div
              [hidden]="address?.valid || address?.untouched"
              style="color: red"
            >
              <small *ngIf="address?.errors?.['required']"
                >Address is required</small
              >
            </div>
          </div>
          <div class="col-12">
            <div class="form-control bg-light border-0 px-4">
              Your Business Type : <br />
              <input
                type="radio"
                formControlName="business_type"
                value="vet"
                name="business_type"
              />
              <label class="px-1">Vet</label><br />
              <input
                type="radio"
                formControlName="business_type"
                value="hotel"
                name="business_type"
              />
              <label class="px-1">Hotel</label><br />
              <input
                type="radio"
                formControlName="business_type"
                value="ranch"
                name="business_type"
              />
              <label class="px-1">Ranch</label><br />
              <input
                type="radio"
                formControlName="business_type"
                value="private"
                name="business_type"
              />
              <label class="px-1">Private</label><br />
              <div
                [hidden]="businesstype?.valid || businesstype?.untouched"
                style="color: red"
              >
                <small *ngIf="businesstype?.errors?.['required']"
                  >business type is required</small
                >
              </div>
            </div>
          </div>
          <div class="col-12" class="form-control bg-light border-0 px-4">
            <label for="openat">Open At : </label> <br />
            <input
              id="open_at"
              type="time"
              name="open_at"
              formControlName="open_at"
            />
            <div
              [hidden]="openat?.valid || openat?.untouched"
              style="color: red"
            >
              <small *ngIf="openat?.errors?.['required']"
                >openning time is required</small
              >
            </div>
          </div>
          <div class="col-12" class="form-control bg-light border-0 px-4">
            <label for="closeat">Close At : </label> <br />
            <input
              id="close_at"
              type="time"
              name="close_at"
              formControlName="close_at"
            />
            <div
              [hidden]="closeat?.valid || closeat?.untouched"
              style="color: red"
            >
              <small *ngIf="closeat?.errors?.['required']"
                >closing time is required</small
              >
            </div>
          </div>
          <div class="col-6">
            <button
              class="btn btn-primary w-100 py-3"
              type="submit"
              [disabled]="registForm.invalid"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
