<div class="container-fluid pt-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-0">Add business</h1>
        </div>
        {{registForm.value | json}}
        <div class="row g-5">
            <div class="col-lg-7">
                <form [formGroup]="registForm" (ngSubmit)="getdata()">
                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" formControlName="businessname"
                                class="form-control bg-light border-0 px-4" name="businessname"
                                placeholder="Your business name" >
                            <!-- <span *ngIf="validationmsg?.fullname['invalid']"></span> -->
                            <div [hidden]="businessname?.valid || businessname?.untouched" style="color: red;">
                                <small *ngIf="businessname?.errors?.['required']">Name is required</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="text" formControlName="description" class="form-control bg-light border-0 px-4"
                                name="description" placeholder="Your description" >
                                <div [hidden]="description?.valid || description?.untouched" style="color: red;">
                                    <small *ngIf="description?.errors?.['required']">Description is required</small>
                                </div>
                        </div>
                        <div class="col-12">
                            <input type="text" formControlName="phoneNum" class="form-control bg-light border-0 px-4"
                                name="phoneNum" placeholder="Your phoneNum" >
                                <div [hidden]="phoneNum?.valid || phoneNum?.untouched" style="color: red;">
                                    <small *ngIf="phoneNum?.errors?.['required']">Phone number is required</small>
                                </div>
                        </div>
                        <div class="col-12">
                            <input type="text" formControlName="city" class="form-control bg-light border-0 px-4"
                                name="city" placeholder="city" >
                                <div [hidden]="city?.valid || city?.untouched" style="color: red;">
                                    <small *ngIf="city?.errors?.['required']">city is required</small>
                                </div>
                        </div>
                        <div class="col-12">
                            <input type="text" formControlName="state" class="form-control bg-light border-0 px-4"
                                name="state" placeholder="state" >
                                <div [hidden]="state?.valid || state?.untouched" style="color: red;">
                                    <small *ngIf="state?.errors?.['required']">state is required</small>
                                </div>
                        </div>
                        <div class="col-12">
                            <input type="text" formControlName="address" class="form-control bg-light border-0 px-4"
                                name="address" placeholder="address" >
                                <div [hidden]="address?.valid || address?.untouched" style="color: red;">
                                    <small *ngIf="address?.errors?.['required']">Address is required</small>
                                </div>
                        </div>
                        <div class="col-12">
                            <div class="form-control bg-light border-0 px-4">Your Business Type :
                                <br> <input type="radio" formControlName="businesstype" value="vet" name="businesstype">
                                <label>Vet</label><br>
                                <input type="radio" formControlName="businesstype" value="hotel" name="businesstype">
                                <label>Hotel</label><br>
                                <input type="radio" formControlName="businesstype" value="ranch" name="businesstype">
                                <label>Ranch</label><br>
                                <input type="radio" formControlName="businesstype" value="private" name="businesstype">
                                <label>Private</label><br>
                                <div [hidden]="businesstype?.valid || businesstype?.untouched" style="color: red;">
                                    <small *ngIf="businesstype?.errors?.['required']">business type is required</small>
                                </div>
                            </div>
                            <!-- <div class="col-12" *ngIf="pay?.value=='visa'">
                                <input type="text" formControlName="payinput1"
                                    class="form-control bg-light border-0 px-4"
                                    placeholder="payment method input here 1" style="height: 55px;" name="payinput1">
                                <input type="text" formControlName="payinput2"
                                    class="form-control bg-light border-0 px-4"
                                    placeholder="payment method input here 2" style="height: 55px;" name="payinput2">
                                <input type="text" formControlName="payinput3"
                                    class="form-control bg-light border-0 px-4"
                                    placeholder="payment method input here 3" style="height: 55px;" name="payinput3">
                                <input type="text" formControlName="payinput4"
                                    class="form-control bg-light border-0 px-4"
                                    placeholder="payment method input here 4" style="height: 55px;" name="payinput4">
                            </div> -->
                        </div>
                        <div class="col-12" class="form-control bg-light border-0 px-4">
                            <label for="openat">Open At : </label> <br>
                            <input id="openat" type="time" name="openat" formControlName="openat">
                            <div [hidden]="openat?.valid || openat?.untouched" style="color: red;">
                                <small *ngIf="openat?.errors?.['required']">openning time is required</small>
                            </div>
                        </div>
                        <div class="col-12" class="form-control bg-light border-0 px-4">
                            <label for="closeat">Close At : </label> <br>
                            <input id="closeat" type="time" name="closeat" formControlName="closeat">
                            <div [hidden]="closeat?.valid || closeat?.untouched" style="color: red;">
                                <small *ngIf="closeat?.errors?.['required']">closing time is required</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit"
                                [disabled]="registForm.invalid"> Add Business </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>