<div *ngIf="imgs.length != 0; then thenBlock"></div>
<ng-template #thenBlock>
  <div class="container m-3">
    <div class="row text-center">
      <div *ngFor="let img of imgs">
        <div class="col-lg-3 col-md-4 col-6 picture-container">
          <button
            (click)="confirmDelete()"
            type="button"
            class="btn btn-danger"
          >
            <span
              style="font-size: 10px"
              class="badge"
              (click)="open('autofocus')"
              >x</span
            >
          </button>
          <a href="#" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="http://petscare.test/{{img.image_path}}"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
