<div *ngIf="imgs.length != 0; then thenBlock"></div>
<ng-template #thenBlock>
  <div class="container m-3">
    <div class="row text-center">
      <div *ngFor="let img of imgs">
        <div class="col-lg-3 col-md-4 col-6 picture-container">
          <button
            (click)="confirmDelete()"
            type="button"
            class="btn btn-danger"
          >
            <span
              style="font-size: 10px"
              class="badge"
              (click)="open('autofocus')"
              >x</span
            >
          </button>

          <a id="businessImg" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="http://petscare.test/{{ img.image_path }}"
              alt=""
            />
            <span
              class="only-show-on-hover"
              style="
                position: absolute;
                bottom: 25%;
                left: 25%;
                top: 40%;
                right: 25%;
              "
            >
              <input
                class="form-control"
                type="file"
                (change)="onChange($event, img.business_profile_id)"
                accept="image/*"
              />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
