<!-- tille -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-0">Bussines profile details</h1>
        </div>
    </div>
</div>
<!-- end of tille -->
<!-- upper content -->
<div class="container ">
    <div class="row g-5">
        <div class="col-lg-3">
            <div class="bg-light text-center pt-5 mt-lg-5">
                <img class="img-fluid w-100" src="../../assets/img/blog-1.jpg">
            </div>

        </div>
        <div class="col-lg-3">
            <div class="bg-light text-center pt-5 mt-lg-5">
                <img class="img-fluid w-100" src="../../assets/img/blog-1.jpg">
            </div>

        </div>
        <div class="col-lg-3">
            <div class="bg-light text-center pt-5 mt-lg-5">
                <img class="img-fluid w-100" src="../../assets/img/blog-1.jpg">
            </div>

        </div>
        <div class="col-lg-3">
            <div class="bg-light text-center pt-5 mt-lg-5">
                <img class="img-fluid w-100" src="../../assets/img/blog-1.jpg">

            </div>

        </div>
    </div>
</div>


<!-- end of upper content -->
<!--  Contact  -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="container">
            <h4 class="text-primary text-uppercase">business details</h4>
            <div class="row g-5">
                <!-- left content -->
                <div class="col-lg-7">
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">1.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">2.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">3.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">4.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">5.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">6.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>
                    <div class="col-12">
                        <p class="form-control bg-light border-0 px-4" style="height: 55px;">7.//data</p>
                        <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                    </div>

                </div>
                <!-- end left content -->
                <!--  right content -->
                <div class="col-lg-4">
                    <div class="bg-light">
                        <div class="col-12">
                            <h1 class="form-control bg-light  text-primary text-uppercase" style="height: 55px;">Name
                                service package</h1>
                            <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                        </div>
                        <div class="col-12">
                            <h1 class="form-control bg-light border-0  text-primary text-uppercase"
                                style="height: 250px;">description
                                <textarea rows="8" cols="30" placeholder="Describe yourself here..."></textarea>
                            </h1>

                            <!-- <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;"> -->
                        </div>
                        <div class="col-12 ">
                            <h1 class="form-control bg-light  text-primary text-uppercase" style="height: 55px;"> price:
                                <span> //data </span>L.E
                                <span class="  p-5"><a [routerLink]="" href="#" class="btn btn-danger "
                                    (click)="openLg(contentt)" [routerLink]="">Delete</a></span>
                            </h1>


                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="d-flex flex-row-reverse">

                            <span class="p-2"><a class="btn btn-success " (click)="open(content)">Add
                                    Package</a></span>

                        </div>

                    </div>
                </div>
                <!-- end right content -->
                <!-- down content -->
                <div class="col-lg-8">
                    <div class="d-flex flex-row-reverse">
                        <span class="p-2"><a href="#" class="btn btn-success " (click)="updateimage()">update new
                                image</a></span>
                        <span class="p-2"><a href="#" class="btn btn-success " (click)="updateprofile()"
                                [routerLink]="">update profile</a></span>
                    </div>

                </div>
                <!--  end of down content -->
            </div>
        </div>
    </div>
    <!--End  Content  -->
    <!-- delete button -->
    <ng-template #contentt let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to delete this package </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.ok('Close ok')">ok</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">cancel</button>
        </div>
    </ng-template>
    <!-- end of delete button -->

    <!-- show adding button -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-success"   id="modal-basic-title">Adding your package</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        
                <!--  right content -->
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label class="text-success" for="formGroupExampleInput">Name service package</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name service package">
                          </div>
                        <div class="form-group">
                          <label class="text-success" for="exampleFormControlTextarea1">description</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Describe yourself here..."></textarea>
                        </div>
                        
                          <div class="form-group">
                            <label  class="text-success" for="formGroupExampleInput2">price</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="price">
                          </div>
                      </form>
                </div>
                <!-- end right content -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="c('Save click')">Save</button>
    </div>
  </ng-template>
  <!--  end show adding button -->





 