<div class="container pt-5">
  <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
    <h1 class="display-5 text-uppercase mb-0">SUBSCRIPTIONS</h1>
</div>
    <div class="row">
        <div class="col-9">
            <div class="table-responsive table-striped">
                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-primary">
                            <th>#</th>
                            <th>Package name</th>
                            <th>Created At </th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let package of packages">
                            <td>{{package.id}}</td>
                            <td>{{package.packageName}}</td>
                            <td>{{package.createdAt}}</td>
                            <td>{{package.price}}</td>
                            <button (click)="pay(package.price)">pay it</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
