<div class="conatiner-fluid">
    <div class=" border-start border-5 border-primary ps-5 m-5" style="max-width: 500px;">
        <h1 class="display-6 text-uppercase mb-0">{{user.user_name}} </h1>
    </div>
    <div class="row">
        <div class="container">
            <div class="row my-2">
                <app-client-profile class="col-8"></app-client-profile>
                <app-client-profile-pets class="col-4"></app-client-profile-pets>

            </div>

        </div>
    </div>
</div>