<h2>Packages</h2>

<button class="col-11 btn btn-primary mb-3">Package 1</button>
<button class="col-11 btn btn-primary mb-3">Package 2 </button>
<button class="col-11 btn btn-primary mb-3">Package 3</button>
<button class="col-11 btn btn-primary mb-3">Package 4</button>
<button class="col-11 btn btn-primary mb-3">Package 5</button>
<button class="col-11 btn btn-primary mb-3">Package 6</button>
<button class="col-11 btn btn-primary mb-3">Package 7</button>
<button class="col-11 btn btn-primary mb-3">Package 8</button>