<div class="container-fluid pt-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <!-- <h6 class="text-primary text-uppercase">Sign Up</h6> -->
            <h1 class="display-5 text-uppercase mb-0">Login </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-7">
                <form action="" method="post">
                    <div class="row g-3">

                        <!-- Emial -->
                        <div class="col-12">
                            <input type="email" name="email" class="form-control bg-light border-0 px-4" placeholder="Your Email" style="height: 55px;">
                        </div>
                        <!-- Password -->
                        <div class="col-12">
                            <input type="password" name="password" class="form-control bg-light border-0 px-4" placeholder=" Enter a Password" style="height: 55px;">
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" name="login" type="submit">login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <img src="../../../assets//img/login.jpeg" alt="">
            </div>
        </div>
    </div>
</div>