<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Contact Us</h6>
            <h1 class="display-5 text-uppercase mb-0">Please Feel Free To Contact Us</h1>
        </div>
        <div class="row g-5">
            <app-contact-form class="col-lg-7"></app-contact-form>
            <app-contact-details class="col-lg-5"></app-contact-details>

        </div>
    </div>
</div>
<!-- Contact End -->