<div>
    <form>
        <div class="row g-3">
            <div class="col-12">
                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="email" class="form-control bg-light border-0 px-4" placeholder="Your Email" style="height: 55px;">
            </div>
            <div class="col-12">
                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Subject" style="height: 55px;">
            </div>
            <div class="col-12">
                <textarea class="form-control bg-light border-0 px-4 py-3" rows="8" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
            </div>
        </div>
    </form>
</div>